body {
  font-family: "TT Hoves", sans-serif;
}
header {
  width: 100%;
  /* height: 100vh; */
  margin-bottom: 120px;
}
.navbar_content {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  margin-left: -150px;
}
.nav-item {
  margin-right: 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}
.nav-item:hover {
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: 0.3s;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header_content {
  display: flex;
}
.header_leftbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_title h2 {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}
.header_title h4 {
  margin-right: 70px;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
}

.parking_title h2 {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;

  color: #bdbdbd;
}
.parking_title h4 {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;

  color: #333333;
}
.line {
  margin: 30px 0;
  border: 1px solid #f2f2f2;
}
.parking_content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.parking_content p {
  width: 721px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.parking_content--item {
  margin-bottom: 30px;
  margin-right: 30px;
}

.footer {
  background: #2c2c2c;
}
.footer_inner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.footer_info--items {
  display: flex;
  flex-direction: column;
}
.footer_info--item {
  margin-bottom: 15px;
}
.footer_contacts--items {
  display: flex;
  flex-direction: column;
}
.footer_contacts--item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer_contacts--item img {
  margin-right: 15px;
}
.footer a {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer h4 {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer_social--item {
  margin-right: 40px;
}
.footer_bottom_text {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5);
}
.footer_bottom_line {
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 1px solid #ffffff;
}
